 
          .contTablaResponsive {
            height: 100%;
          }

          @media (min-width: 640px) {
            table.table-responsive {
              display: inline-table !important;
            }

            table.table-responsive thead tr:not(:first-child) {
              display: none;
            }
          }

          table.table-responsive td:not(:last-child) {
            border-bottom: 0;
          }

          table.table-responsive th:not(:last-child) {
            border-bottom: 2px solid rgba(0, 0, 0, .1);
          }

          table.table-responsive{
            font-size: 0.85rem;
          }